.grid {
  max-width: 100vw;
  width: 100%;
  display: grid;
  grid-template-columns: 250px minmax(auto, calc(100vw - 250px));
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    't h'
    't c';
}

.header {
  grid-area: h;
}

.toolbar {
  grid-area: t;
  height: 100vh;
  left: 0;
  position: sticky;
  top: 0;
}

.content {
  grid-area: c;
  max-width: 100%;
}
