.popover {
  width: 25vw;
  padding-bottom: 0;
  .footerText {
    color: #6c757d;
    font-size: 1.2rem;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.expanded {
  background: #fff;
  max-height: 53vh;
  overflow-y: auto;
  position: relative;
}

.noUnread {
  text-align: center;
  margin: 10rem auto;
}
