tr {
  font-size: 1.4rem;

  td {
    color: #737373;
    max-width: 7vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;

    .roleSelect {
      min-height: 10px;
      width: 6vw;
    }
  }
}

.tableHead {
  color: #737d85;

  tr {
    font-size: 1.32rem;
  }
}

i {
  color: #737373;
  cursor: pointer;
}

.trashIcon {
  margin-left: 1rem;
}
