.pageTitle {
  font-size: 1.5rem;
}

.teams-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1.5rem;
}

.teams-container-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.vh-91 {
  height: 91vh;
}
