.card-header .card-title .btn {
  margin-left: auto;
  background-color: #3f80ea;
  color: #fff;
  font-size: 1.32rem;
  padding: 0.4rem 1.12rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.card-header .card-title .btn:hover {
  background-color: #366dc7;
  border-color: #3266bb;
  color: #fff;
}

.card-header .card-title .btn .bi-plus-lg {
  margin-right: 0.5rem;
}
