.emoji {
  &--reactions {
    margin-top: 10px;
    grid-row: 1;
    grid-column: 1 / span 4;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 30px;
    padding: 0 6px;
    border: 1px solid transparent;
    background-color: #d8d8d8;
    min-width: 40px;
    height: 24px;
    text-align: center;

    &:hover {
      background-color: #fff;
      border-color: #777;
    }

    &.active {
      border-color: #3f80ea;
      background-color: rgba(63, 128, 234, 0.1);
    }
  }

  &__counter {
    font-size: 12px;
  }

  &__users {
    .tooltip-inner {
      max-width: 500px;
      margin: auto;
    }
  }

  .dropdown-menu {
    padding: 0;
    background: transparent;
    border: 0;
  }

  .dropdown-item {
    padding: 0;

    &:hover,
    &:focus {
      background: none;
    }
  }

  .dropdown-toggle.btn {
    font-size: 1.25rem;
    padding: 0;
    border: 0;
    background: none;
    line-height: inherit;
    color: rgba(0, 0, 0, 0.4);

    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }

    &:after {
      display: none;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .dropup.show {
    .dropdown-toggle.btn {
      background-color: #fff;
      border-color: #777;
    }
  }

  aside.emoji-picker-react {
    box-shadow: none;
  }
}
