.btn-tag .btn {
  background-color: #3f80ea;
  color: #fff;
  font-size: 1.32rem;
  padding: 0.4rem 1.12rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.btn-tag .dropdown-menu {
  font-size: 1.32rem;
}

.btn-tag .dropdown-menu .dropdown-item,
.btn-tag .dropdown-menu .dropdown-item {
  font-size: 1.32rem;
  padding: 0.56rem 2.4rem;
  color: #495057;
}
