.breadcrumb {
  ol {
    display: block;

    overflow-x: auto;
    white-space: nowrap;

    li {
      display: inline-block;
    }

    li + li:before {
      content: var(--bs-breadcrumb-divider, '/') !important;
    }
  }

  a {
    color: #495057;
    text-decoration: none;
    font-weight: 500;
  }

  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
