.card {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
}

.tags-title {
  font-weight: 400;
  margin-bottom: 20px;
}

.tag-badge {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0.75rem 0.75rem 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #f2f8ff;
}

.tags-edit {
  padding: 0 10px;
  margin-right: -10px;
  font-size: 1.5rem;

  &:hover {
    color: #495057;
  }
}

.btn-done {
  font-size: 1.1rem;
}
