:global(.btn-primary) {
  font-size: 1.32rem;
}

:global(.btn-secondary) {
  font-size: 1.32rem;
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 200px;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border: 0 solid transparent;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  min-height: 32.5rem;
  .header {
    background-color: #fff;
    border-bottom: 0 solid transparent;
    margin-bottom: 0;
    padding: 1.6rem 2rem;
    .title {
      font-size: 1.52rem;
      margin-bottom: 0;
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
    }
  }
  .body {
    flex: 1 1 auto;
    padding: 2rem;
    tr {
      font-size: 1.4rem;
      td {
        color: #737373;
        max-width: 7vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .selectContainer {
        overflow: visible;
      }
    }
    .tableHead {
      color: #737d85;
      tr {
        font-size: 1.32rem;
      }
    }
    & > .table > .tableHead > :nth-child(1) > * {
      border-bottom-color: #889097;
    }
    i {
      color: #737373;
      cursor: pointer;
    }
    .trashIcon {
      margin-left: 1rem;
    }
    .addUser {
      cursor: pointer;
    }
    .addTeam {
      cursor: pointer;
    }
    .inviteButton {
      font-size: 1.32rem;
    }
  }
}
