:global(.modalWindow) {
  width: 20vw !important;
  min-width: 385px;
}

.modalContent {
  width: 700px;
}

.modalBody {
  height: 170px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.btnContainer {
  height: 30px;
}

:global(.rhap_volume-container) {
  margin-left: 0px;
  margin-right: 7px;
  width: 30px;
}

:global(.rhap_container) {
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

:global(.rhap_volume-button) {
  font-size: 20px;
  margin: 0;
  margin-left: 10px;
}

:global(.rhap_stacked .rhap_controls-section) {
  margin-top: 25px;
}

.text {
  font-size: 1.32rem;
  line-height: 1.2;
}

.recordButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.resumeButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.startRecordMic {
  font-size: x-large;
  color: whitesmoke;
}

.resumeRecordMic {
  font-size: small;
  color: whitesmoke;
}

.pauseButton {
  color: transparent;
  padding: 0;
}

.pauseButton:hover {
  box-shadow: none;
}

.pauseIcon {
  font-size: xx-large;
}

.pauseText {
  font-weight: 500;
}

.stopButton {
  width: 20px;
  height: 20px;
}

.stopText {
  color: red;
  display: block;
  font-size: 16px;
}

.resumeText {
  color: grey;
  display: block;
}

.saveButton {
  position: absolute;
  margin-left: 21px;
  margin-top: -51px;
  font-size: x-large;
}

.trashButton {
  position: absolute;
  font-size: x-large;
  margin-left: -61px;
  margin-top: -49px;
}

.trashIcon:hover {
  color: rgb(202, 5, 5);
}

.sendIcon:hover {
  color: #198754;
}

.timer {
  font-size: x-large;
  margin-bottom: 30px;
}

.recordedTime {
  font-size: x-large;
  margin: 0;
  margin-top: -13px;
}
