.settings-container {
  background-color: #f3f6fb;
  margin: 0 !important;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  padding: 40px;
}

.title {
  font-size: 20px;
  margin-bottom: 30px;
  color: #495057;
}

.settings-tab {
  font-weight: 400;
  background-color: #fff;
  padding: 20px;
  color: #747474;
}

.nav-link,
.nav-tabs {
  border: transparent !important;
}

.nav-link {
  color: #6c757d !important;
}

.content-header {
  font-size: 16px;
  font-weight: 500;
  color: #495057;
}
