.count {
  width: 2.25vh;
  height: 2.25vh;
  position: absolute;
  z-index: 5;
  left: 1.25vh;
  top: -0.35vh;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2.25vh;
}

.chatIcon {
  font-size: 1.75rem;
}
