.count {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  z-index: 5;
  left: 0.7rem;
  top: -0.13rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.bellIcon {
  font-size: 1.75rem;
  vertical-align: bottom;
}
