.comment {
  margin-top: 1.6rem;
  padding: 0 0 1.6rem;
}

.comment:first-child {
  margin-top: 0;
}

.userName {
  font-weight: 500;
  font-size: 1.32rem;
}

.text {
  font-size: 1.32rem;
}

.respond {
  font-size: 1.2rem;
  background: transparent;
  display: inline;
  border: none;
  padding: 0;
}

.respond:hover {
  text-decoration: underline;
}
