.main {
  padding: 2.5rem 2.5rem 1.5rem;
  width: 100%;
  background-color: #f6f8fb;
  min-height: 90vh;
}

.settingsWrapper {
  .menuHeading {
    font-size: 1.98rem;
    margin-bottom: 1.6rem;
  }
}
