.dropdown {
  background-color: #f7f9fc;

  .dropdownButton {
    padding: 0.375rem 0.75rem;
    font-size: 2rem;

    &::after {
      display: none !important;
    }
  }

  .dropdownItem {
    font-size: 1.32rem;
  }
}

.confirmButton {
  padding: 0.25rem 0.5rem;
  font-size: 1.32rem;
}
