.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 200px;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border: 0 solid transparent;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  min-height: 32.5rem;

  .header {
    background-color: #fff;
    border-bottom: 0 solid transparent;
    margin-bottom: 0;
    padding: 1.6rem 2rem;

    .title {
      font-size: 1.52rem;
      margin-bottom: 0;
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
    }
    .input {
      appearance: none;
      background-clip: padding-box;
      border-radius: 0.4rem;
      color: #6c757d;
      display: block;
      font-size: 1.32rem;
      font-weight: 400;
      line-height: 1.625;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      min-width: 230px;
    }
    .feedback {
      font-size: 1.2rem;
    }
  }

  .body {
    flex: 1 1 auto;
    padding: 2rem;
    .tr {
      font-size: 1.4rem;
      .td {
        color: #737373;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .tdInput {
        padding: 0;
        .input {
          color: #6c757d;
          width: 220px;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
      .tdButton {
        width: 7.5rem;
      }
      .tdButtonSmall {
        width: 5rem;
      }
    }

    .button {
      text-decoration: none;
      font-size: 1.4rem;
      padding: 0;
    }

    .emptyMessage {
      color: #6c757d;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.625;
    }
  }
}
