.tag-list .input-group {
  width: unset;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.tag-list .input-group .btn:first-of-type {
  background-color: white;
  color: #6c757d;
  border: 1px solid #ced4da;
}
