.card {
  min-height: 15vh;
}

.recentlink {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.recentItem {
  margin-top: 10px;
  color: var(--bs-gray);
  min-width: 5rem;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pageTitle {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.recentItem::before {
  position: absolute;
  left: 20px;
  height: 2rem;
  width: 2rem;
  content: '';
  background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%234bba73%22%20class%3D%22bi%20bi-file-text%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20d%3D%22M5%204a.5.5%200%200%200%200%201h6a.5.5%200%200%200%200-1H5zm-.5%202.5A.5.5%200%200%201%205%206h6a.5.5%200%200%201%200%201H5a.5.5%200%200%201-.5-.5zM5%208a.5.5%200%200%200%200%201h6a.5.5%200%200%200%200-1H5zm0%202a.5.5%200%200%200%200%201h3a.5.5%200%200%200%200-1H5z%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M2%202a2%202%200%200%201%202-2h8a2%202%200%200%201%202%202v12a2%202%200%200%201-2%202H4a2%202%200%200%201-2-2V2zm10-1H4a1%201%200%200%200-1%201v12a1%201%200%200%200%201%201h8a1%201%200%200%200%201-1V2a1%201%200%200%200-1-1z%22%2F%3E%0A%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  padding-right: calc(1.5em + 0.75rem);
  background-position: top 3px right calc(0.375em + 0.1875rem);
  background-size: 70% 85%;
}

.recentIcon {
  margin-right: 1rem;
  color: var(--bs-success);
}

.info {
  margin-top: 13px;
  font-size: 12px;
  margin-left: 2.5rem;
  color: var(--bs-gray);
  white-space: nowrap;
  align-self: flex-start;
}

.placeholder {
  margin-top: 10px;
  margin-left: 0 !important;
  font-size: 1.5rem;
  width: 100%;
}

.popoverText {
  font-size: 1.32rem;
  color: #737373;
  font-family: 'Poppins', sans-serif;
}
