.cardItem {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 200px;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border: 0 solid transparent;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  min-height: 32.5rem;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 0 solid transparent;
  margin-bottom: 0;
  padding: 1.6rem 2rem;
}

.cardTitle {
  font-size: 1.52rem;
  margin-bottom: 0;

  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.teamsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1.5rem;
  background-color: #fff;
}

.vh-91 {
  height: 91vh;
}

.emptyMessage {
  color: #6c757d;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
}
