.comment {
  border: 0;
  margin: 0.5em 0 0;
  padding: 0.5em 0 0;
  blockquote {
    position: relative;
    margin: 1.6rem 0;
    padding: 5px 8px 5px 1.6rem;
    background: none repeat scroll 0 0 rgba(102, 128, 153, 0.05);
    color: #6c757d;
    border: none;
    border-left-color: #d6dbdf;
    border-left-style: solid;
    border-left-width: 1rem;
    p {
      margin-bottom: 0;
    }
  }
  > div:first-child {
    float: left;
  }
  .content {
    margin-left: 5rem;
  }
  .avatar {
    float: left;
  }
  .author {
    color: #495057;
    font-weight: 500;
    font-size: 1.4rem;
  }
  .metadata {
    font-size: 1.25rem;
    color: hsl(0 0% 0% / 0.4);
  }
  .text {
    font-size: 1.32rem;
    line-height: 1.2;
    margin: 0.25em 0 0.5em;
  }
  .actions {
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    align-items: center;

    .action {
      cursor: pointer;
      color: hsl(0 0% 0% / 0.4);
      text-decoration: none;
      margin-right: 0.5em;
      &:hover {
        color: hsl(0 0% 0% / 0.8);
      }
    }
  }
  .audioWrapper {
    width: 98%;
    padding-right: 115px;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 20%);
  }
}
