.teamCard {
  height: 12rem;
  box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 15%) !important;

  .teamName {
    padding: 10px;
    margin: 0 !important;
  }

  .avatarsContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 1rem;

    .userAvatar {
      object-fit: cover;
    }
  }
}
