.team-card {
  height: 12rem;
  box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 15%) !important;
}

.team-name {
  padding: 10px;
  margin: 0 !important;
}

.avatars-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}
