.natificationItem {
  color: #293042;

  .icon {
    cursor: default;
    font-size: 2rem;
  }

  .textMiddle {
    display: block;
    width: 100%;
    font-size: 1.4rem;

    i {
      color: #019236;
      cursor: default;
    }
  }

  .link {
    color: #293042;
    text-decoration: none;
  }

  .textSmall {
    display: block;
    width: 100%;
    color: #6c757d;
    font-size: 1.1rem;
  }

  .readBtn {
    font-size: 1.1rem;
    border: 0;
    box-shadow: none;
    padding: 0.25rem 0.5rem !important;
  }
}

.unread {
  background-color: #4bbaa71e;
}
