.app-header {
  height: 9vh;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  background: #fff;
  --header-color: #495057;
  --header-input-background: #f3f6fb;
}

.app-header .form-control,
.app-header .btn-primary {
  background: var(--header-input-background);
  color: var(--header-color);
  border: 0;
  box-shadow: none;
  height: calc(2.24375rem + 2px);
  padding: 0.35rem 0.75rem;
}

.app-header .form-control:focus {
  background: var(--header-input-background);
  color: var(--header-color);
  box-shadow: none;
}

.app-header .input-group .form-control {
  width: 197px;
  font-size: 0.825rem;
  font-weight: 400;
  line-height: 1.625;
}

.app-header .input-group > .btn-primary:hover,
.app-header .input-group > .btn-primary:active,
.app-header .input-group > .btn-primary:focus {
  background: var(--header-input-background);
  box-shadow: none;
}

.app-header > .navbar {
  margin-left: auto;
  height: 37px;
}

.app-header > .navbar .profile-photo-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.app-header .dropdown > .dropdown-toggle,
.app-header .dropdown > .dropdown-toggle:hover {
  color: var(--header-color);
  font-size: 0.825rem;
  font-weight: 400;
  line-height: 1.625;
}

.dropdown-menu .dropdown-item {
  padding: 0;
}

.dropdown-menu .dropdown-item,
.dropdown-menu button {
  display: block;
  padding: 0.25rem 1rem;
  color: var(--header-color);
  text-decoration: none;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu button:hover {
  color: var(--header-color);
}

.app-header .bi {
  color: var(--header-color);
}

.bi-search,
.bi-bell-slash {
  font-size: 20px;
}

.bi-person {
  font-size: 18px;
  margin-right: 4px;
}
