.tableRow {
  font-size: 1.4rem;

  td,
  span {
    color: #737373;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  td {
    max-width: 7vw;
  }

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-right: auto;
    width: 75%;
  }
}

.extendContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.deleteContainer {
  display: flex;
  flex-direction: row;
}

.popoverText {
  font-size: 1.32rem;
  color: #737373;
  font-family: 'Poppins', sans-serif;
}
