.userSettingsContainer {
  width: 100%;

  font-size: 1.6rem;
  text-align: left;

  .tableHead {
    color: #737d85;

    font-size: 1.6rem;
    font-weight: bold;
  }

  & > .table > .tableHead > :nth-child(1) > * {
    border-bottom-color: #889097;
  }

  tr {
    td {
      color: #737373;
    }
  }

  i {
    color: #737373;

    cursor: pointer;
  }

  .trashIcon {
    margin-left: 1rem;
  }

  .addUser {
    cursor: pointer;
  }

  .addTeam {
    cursor: pointer;
  }
}
