.accordion {
    text-align: left;
    background-color: #293042;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #293042;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a9a9a9;
    -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
}

.pageItem {
    color: rgba(233, 236, 239, .5);
    transition: color 0.2s;
    display: flex;
    align-items: center;
}

.pageItem a {
    text-decoration: none;
    color: rgba(233, 236, 239, .5)
}

.pageItem a:hover {
  color: rgba(233, 236, 239, .75)
}



:global(.accordion-header),
:global(.accordion-button),
:global(.accordion-button:not(.collapsed)) {
  background-color: transparent;
}

.plus :global(.bi) {
  color: rgba(233, 236, 239, 0);
  transition: color 0.2s;
}

.pageItem:hover :global(.bi) {
  color: rgba(233, 236, 239, .5)
}


.plus:hover :global(.bi) {
  color: rgba(233, 236, 239, .75);
  cursor: pointer;
}


.greyTextColor {
  background-color: #293042;
    color: rgba(233, 236, 239, 0.5);
    margin-left: 0;
    padding: 0;
    font-size: small;
}

.accordionItem {
    font-size: medium !important;
    background-color: #293042 !important;
    border: none !important;
    box-shadow: none !important;
}

.accordionItem .accordionHeader {
    font-size: small;
}

.accordionItem .accordionHeader button {
    font-size: small !important;
    background-color: #293042 !important;
    color: rgba(233, 236, 239, 0.5);
    border: none !important;
    padding-top: 0;
    padding-bottom: 0;
}

.plusButton svg {
    margin-left: 50px;
}

.accordionItem .accordionHeader button span {
    font-size: medium;
}

.accordionItem .accordionHeader button:hover span {
    color: rgba(233, 236, 239, .75);
    cursor: pointer;
}

.accordionItem .accordionHeader button:focus {
    border: none;
    box-shadow: none;
}

.accordionItem .accordionHeader button:focus span {
    color: rgba(233, 236, 239, .75);
}

.accordionItemInsideSection {
    background-color: #293042;
}

.accordionItem .accordionBody {
    padding-left: 30px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: medium;
    background-color: #293042;
}

.logoToolbar {
    color: white;
    margin: 50px;
    margin-top: 80px;
    font-size: 20px;
}

.sectionName {
    font-size: 1.3rem;
    color: #ced4da;
}

.navbarLinkInsideSection {
    padding: 0;
    margin-bottom: 0px;
    margin-left: 0px;
}

.navbarLinkInsideSection svg {
    display: none;
    float: right;
}

.navbarLinkInsideSection:hover svg {
    display: flex;
    float: right;
}

