.accordion {
    text-align: left;
    background-color: #293042;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #293042;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a9a9a9;
    -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
}

.pageItem {
    color: rgba(233, 236, 239, .5);
    transition: color 0.2s;
    display: flex;
    align-items: center;
}

.pageItem a {
    text-decoration: none;
    color: rgba(233, 236, 239, .5);
}

.pageItem a:hover {
    color: rgba(233, 236, 239, .75);
}

:global(.accordion-button) {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
}

:global(.accordion-body) {
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: medium;
    background-color: #293042;
    padding-right: 0;
}

:global(.accordion-header),
:global(.accordion-button) {
    background-color: transparent;
    box-shadow: none;
}

:global(.accordion-button::after) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

:global(.accordion-button:not(.collapsed)) {
    background-color: transparent;
    box-shadow: none;
}

.plus :global(.bi) {
    color: rgba(233, 236, 239, 0);
    transition: color 0.2s;
}

:global(.accordion-button:not(.collapsed)::after) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.pageItem:hover :global(.bi) {
    color: rgba(233, 236, 239, .5);
}

.plus:hover :global(.bi) {
    color: rgba(233, 236, 239, .75);
    cursor: pointer;
}

.greyTextColor {
    background-color: #293042;
    color: rgba(233, 236, 239, 0.5);
    margin-left: 0;
    padding: 0;
    font-size: small;
}

.accordionItem {
    font-size: medium;
    background-color: #293042;
    border: none;
    box-shadow: none;
}

.accordionItem .accordionHeader {
    font-size: small;
}

.plusButton svg {
    margin-left: 50px;
}

.accordionItem .accordionHeader button span {
    font-size: medium;
}

.accordionItem .accordionHeader button:hover span {
    color: rgba(233, 236, 239, .75);
    cursor: pointer;
}

.accordionItem .accordionHeader button:focus {
    border: none;
    box-shadow: none;
}

.accordionItem .accordionHeader button:focus span {
    color: rgba(233, 236, 239, .75);
}

.pageItem .accordionItemInsideSection :global(.active) {
    color: rgb(35, 78, 169);
}

.logoToolbar {
    color: white;
    margin: 50px;
    margin-top: 80px;
    font-size: 20px;
}

.sectionName {
    font-size: 1.3rem;
    color: #ced4da;
}

.navbarLinkInsideSection {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.navbarLinkInsideSection svg {
    display: none;
    float: right;
}

.navbarLinkInsideSection:hover svg {
    display: flex;
    float: right;
}
