.userAvatar {
  object-fit: cover;
}

.userName {
  max-width: 9vw;
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.dropdown-toggle::after {
  margin: 0;
}
