.card {
  box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
  margin: 1.5rem;
}
.recentlink {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.recentItem {
  margin-top: 10px;
  color: var(--bs-gray);
}
.recentIcon {
  margin-right: 1rem;
  color: var(--bs-success);
}
.visited {
  font-size: 12px;
  margin-left: 2.5rem;
  color: var(--bs-gray);
}
