.card {
  box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);

  .content {
    word-break: break-all;
  }
}

.pageHeading {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.popoverText {
  font-size: 1.32rem;
  color: #737373;
  font-family: 'Poppins', sans-serif;
}
