:global(.custom-html-style) {
  h1 {
    font-size: 4rem;
    margin: 40px 0px;
  }
  h2 {
    font-size: 3.2rem;
    margin: 32px 0px;
  }
  h3 {
    font-size: 2.8rem;
    margin: 28px 0px;
  }
  h4 {
    font-size: 2.4rem;
    margin: 24px 0px;
  }
  h5 {
    font-size: 2rem;
    margin: 20px 0px;
  }
  h6 {
    font-size: 1.6rem;
    margin: 16px 0px;
  }
}

:global(.h-popover) {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  padding: 0;
  span {
    padding: 0.2rem 0.6rem;
  }
  &::after {
    border-top: 0.4rem solid rgba(0, 0, 0, 0.15);
  }
}

:global(.h-popover:hover) {
  background-color: rgb(178, 212, 255);
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: static;
  .content {
    word-break: break-all;
  }
  .content.highlightPopHidden {
    :global(.h-popover) {
      display: none;
    }
  }
}

.pageHeading {
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: break-all;
}

.popoverText {
  font-size: 1.32rem;
  color: #737373;
  font-family: 'Poppins', sans-serif;
}

.quoteIcon {
  font-size: 1.8rem;
  transition: all 0.3s ease;
}
