.title {
  font-size: 1.52rem;
  line-height: 1.625;
}

.creationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.timeSettingsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30rem;
  margin-bottom: 0.5rem;
}

.createdLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
}

.inputContainer {
  :global(.mb-3) {
    width: 100%;
  }
}

.sendButton {
  align-self: flex-start;
  width: 10rem;
  margin-left: 2rem;
  margin-top: 2.7rem;
}
