.team-settings-dropdown .dropdown-toggle::after {
  display: none !important;
}

.team-settings-dropdown .dropdown-menu {
  width: 180px;
}

#dropdown-team-details {
  font-size: 20px;
  padding: 0 !important;
}
