.header {
  padding: 1.6rem;
}

.title {
  font-size: 1.32rem;
  line-height: 1.625;
}

.body {
  margin: 1.6rem;
  padding: 1.6rem;
  font-size: 1.32rem;
  text-align: center;
}

.footer {
  padding: 1.2rem;
}

.button {
  padding: 0.4rem 1.12rem;
  font-size: 1.32rem;
}
